# Copy this file to .env and fill in your values
# Never commit .env to git

PORT=5002
NODE_ENV=development
FRONTEND_URL=http://localhost:5002

MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxx.mongodb.net/adsteric?retryWrites=true&w=majority

JWT_SECRET=<generate-a-long-random-string>

SMTP_HOST=smtp.gmail.com
SMTP_USER=adstericteam@gmail.com
SMTP_PASS=iruu tepl oxqs voxx
COMPANY_EMAIL=adstericteam@gmail.com
